
@import 'primeicons/primeicons.css';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333
}
li, ul {
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.25rem;
}
:root{
  --color-primary-0: #4a5e39;
  --color-primary-1: #546B41;
  --color-primary-2: #99AD7A;
  --color-primary-3: #DCCCAC;
  --color-primary-4: #FFF8EC;
  --color-white: #FFFFFF;
  --shadow-primary-1: rgba(0, 0, 0, 0.04) 0px 3px 5px;

}
.container {
  width: 100%;
  max-width: 100%; /* Оптимально для контента */
  margin: 0 auto;    /* Центрирование */
  padding: 2rem ;   /* Отступы, чтобы текст не лип к краям на телефоне */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-primary-4);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Растягиваем на всю высоту экрана */
  border: 1px solid black;
}

.main-content {
  display: flex;
  flex-grow: 1;      /* Прижимает футер к низу, если контента мало */
  padding: 0;   /* Отступы сверху и снизу от хедера/футера */
}